body {
 background-color: #0c0a16; 

  font-family: "M PLUS Rounded 1c";
  font-weight: 400;
  color: aliceblue;
  /*background-image: url("Images/palm.jpg"); */
  margin: 0px;
  overflow-x: hidden;
  z-index: -2;
}
::-webkit-scrollbar {
  display: none;
}
.taskbar {
  background-color: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
  background-color: none;
  height: 50px;
  padding-top: 10px;
  padding-bottom: -5px;
}
#taskbarBlur {
  position: fixed;

  background-color: rgba(0, 0, 0, 0.77);
  height: 50px;
  text-align: left;
  width: 100%;

  display: block;
  backdrop-filter: blur(10px);
  z-index: 0;
}

.taskbarButtons {
  display: flex;
}

.buttons {
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "M PLUS Rounded 1c";
  font-weight: 350;
  width: 100px;
  font-size: 15.1px;
  border: none;
  height: 50px;
}

#projectTab {
  margin-left: 20px;
}
#aboutMeTab {
  width: 100px;
}
#homeTab {
  width: 50px;
}

.searchBar input {
  background-color: transparent;
  border: rgb(153, 153, 153) 1px solid;
  border-radius: 5px;
  height: 32px;
  width: 325px;
  cursor: pointer;
  color: aliceblue;
}

#gitHub {
  background-color: transparent;
  color: rgb(255, 255, 255);
  display: inline;
  flex-direction: row;
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 5px;
  height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  width: 75px;
  font-family: "M PLUS Rounded 1c";
  font-weight: 350;
  font-size: 15.1px;
  cursor: pointer;
}

#gitHub:hover {
  color: rgb(153, 153, 153);
  border-color: rgb(153, 153, 153);
}

@media (max-width: 1011px) {
  #idSearchBar {
    display: none;
  }
  .taskbar {
    justify-content: center;
  }
  #gitHub {
    margin-left: 40px;
  }
}

.searchBar input:hover {
  background-color: #7a7a7a00;
}
.paragraph p {
  font-size: 500px;
  margin-top: 30px;
  max-width: 100%;
  text-align: center;
  z-index: -2;
}
.taskbarButtons a {
  display: block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-left: 20px;
}
#webLink:hover,
#fishLink:hover,
#crtLink:hover,
#resumeLink:hover {
  color: rgb(153, 153, 153);
}
.dropdown {
  position: absolute;
  left: 0;

  margin-top: 50px;
  text-align: left;
  width: 100%;
  height: 150px;
  display: none;
  /*backdrop-filter: blur(10px); */
  z-index: 0;
}

.projectScroll {
  height: 500px;
  width: 75%;
  background-color: #171b22;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid rgb(39, 44, 51);
  border-radius: 20px;
justify-content: space-between;
  /* box-shadow: 0px 10px 2500px rgba(138, 137, 137, 0.068); */
}
.psElement{
  width: 100%;
  height: 100%;
  border-radius: 20px;
 background-color: #14171d;
  display: none;
}
#psRadioG{

  background-color: #252e33;
display: flex;
}
#psFishing{
  background-color: rgb(30, 58, 51);
display: none;
}
.circleB{
 text-align: center;
  width: 50px;
height: 50px;
border-radius: 50% ;
border: 1px solid rgb(39, 44, 51);
background-color: transparent;

margin-top: 225px;
}
#leftB::after{
content: "\276E";
color: rgb(255, 255, 255);
font-size: 27px;
display: block;
}
#rightB::after{
  content: "\276F";
  color: rgb(255, 255, 255);
  font-size: 27px;
  display: block;
}
#rightB:hover:after{
  color: rgb(153, 153, 153);
}
#leftB:hover::after{
  color: rgb(153, 153, 153);
  }























@keyframes scaleDownFromTop {
  from {
    transform: scaleY(0%);
    transform-origin: top;
    opacity: 0;
  }
  to {
    transform: scaleY(100%);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes scaleTopFromDown {
  from {
    transform: scaleY(100%);
    transform-origin: top;
    opacity: 1;
  }
  to {
    transform: scaleY(0%);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes opacityFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blurExpand {
  from {
    height: 50px;
    opacity: 1;
  }
  to {
    height: 200px;
    opacity: 1;
  }
}

@keyframes blurRetract {
  from {
    height: 200px;
    opacity: 1;
  }
  to {
    opacity: 1;
    height: 50px;
  }
}
